@(tweets: List[Tweet], message: String, tweetForm: Form[Tweet])

@main("Tweety") {

    <h1>@message</h1>
	
	<h2>Nouveau Tweet : </h2>
	
	@helper.form(action = routes.Application.submitTweet()) {
	
	@helper.inputText(tweetForm("commentaire"))
	@helper.inputText(tweetForm("username"))
	
	<input type="submit" class="btn primary" value="tweet !!!">
	
	}
	
	
	<h2>Messages</h2>
	
	<table class="table table-striped">
	
		<tr>
			<td>nb Tweet</td>
			<td>ID</td>
			<td>Date</td>
			<td>Username</td>
			<td>Tweet</td>
		</tr>
		
	@for((tweet, i) <- tweets.zipWithIndex) {
		<tr>
			<td>@i</td>
			<td>@tweet.id</td>
			<td>@tweet.creationDate</td>
			<td>@tweet.username</td>
			<td>@tweet.commentaire</td>
		</tr>
	}
	</table>
	
	Il y a au total @tweets.size tweets.

}